<div id="preloader" class="fixed inset-0 z-50 bg-maroon flex flex-col items-center justify-center gap-6 text-center">
  <div class="flex gap-5 items-center animate-pet-bounce">
    <img src="assets/svg/cat-icon.svg" class="w-10 invert" />
    <img src="assets/svg/dog-icon.svg" class="w-10 invert" />
    <img src="assets/svg/bird-icon.svg" class="w-10 invert" />
    <img src="assets/svg/rabbit-icon.svg" class="w-10 invert" />
    <img src="assets/svg/paw-icon.svg" class="w-10 invert" />
  </div>
  <p class="text-gold font-playfair text-sm">Prepping the brushes and chasing tails… hang tight!</p>
</div>
